*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Roboto', 'Poppins', sans-serif;
    background: #fff;
}
header{
    padding: 10px 30px;
    background: #1F2937;
    height: 60vh;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 30px 50px;
}
ul{
    display: flex;
    gap: 40px;
}
li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.hero-section{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap: 60px;
}
.hero-section img{
    width: 500px;
    height: auto;
    border: 1px solid #fff;
    border-radius: 10px;

}
h1 span{
    color: #ffa500;
}
.text{
    width: 600px;
}
.text h1{
    color: #fff;
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: 20px;
}
.text p{
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
}
.text a{
    padding: 10px 30px;
    font-size: 18px;
    background: #3882f6;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
}
h2 span{
    color: #ffa500;
}
h2 a{
    text-decoration: none;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 300px;
}
.card{
    width: 300px;
    height: 200px;
}
.card h3{
    text-align: center;
    color: #ffa500;
    margin-bottom: 20px;
}
.card p{
    text-align: center;
     text-wrap: balance;

}
.card img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ffa500;
    margin-bottom: 20px;
}
.testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFE7EB;
    padding: 50px;
}
.testimonials-container p{
    width: 800px;
    font-size: 36px;
}
.cta-container{
    display: flex;
    justify-content: space-around;
    background: #3882f6;
    align-items: center;
    max-width: 900px;
    padding: 30px;
    border-radius: 10px;
    margin: 100px auto;
}
.cta-container h3{
    color: #fff;
    margin-bottom: 10px;
}
.cta-button a{
    padding: 5px 25px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}
.cta-container p{
    color: #fff;
}
.name{
    margin-left: 500px;
    font-weight: bold;
}
.footer{
    background: #1F2937;
    padding: 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}